# MaSuRCA configuration file template for BugBuilder
DATA
<TMPL_VAR NAME=LIBS>
END

PARAMETERS
GRAPH_KMER_SIZE = auto
USE_LINKING_MATES = <TMPL_VAR NAME=LINKING>
CA_PARAMETERS =  cgwErrorRate=0.15
KMER_COUNT_THRESHOLD = 1
NUM_THREADS = <TMPL_VAR NAME=THREADS>
JF_SIZE = 200000000
SOAP_ASSEMBLY=0
END
